{% extends 'layout.html' %}
{% block title %} Hello world {% endblock %}
{% block body %}
    <!-- Action buttons and heading -->
    <div class="container">
        <h1 class="text-center">The super cool inventory app</h1>
        <div class="actions row">
            <a href="/products" class="btn btn-primary col m-4">Products</a>
            <a href="/locations" class="btn btn-primary col m-4">Locations</a>
            <a href="/movements" class="btn btn-primary col m-4">Product Movements</a>
        </div>
    </div>

    <div class="container text-center">
            <!-- Report of products at each location -->
            <h2 class="text-center">Report of your in and out at each location</h2>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <td>Location</td>
                        <td>In</td>
                        <td>Out</td>
                        <td>Left</td>
                    </tr>
                </thead>
                {% for row in inOutReport %}
                <tr class="{% if row[1] - row[2] == 0 %} table-danger {% elif row[1] - row[2] < 10 %} table-warning {% else %} table-success {% endif%}">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[1] - row[2]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    <div class="container text-center">
        <!-- Report of products at each location -->
        <h2 class="text-center">Report of your products at each location</h2>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <td>Location</td>
                    <td>Product</td>
                    <td>Quantity</td>
                </tr>
            </thead>
            {% for row in quantityAtEveryLocation %}
            <tr class="{% if row[2] == 0 %} table-danger {% elif row[2] < 10 %} table-warning {% else %} table-success {% endif%}">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
