{% extends 'layout.html' %}
{% block title %} Locations {% endblock %}
{% block body %}

    <!-- addLocation -->
    <div class="container">
        <h1 class="text-center">Locations page</h1>
        <form method='POST' class="text-center">
            <div class="form-group">
                <input type="text" name='locName' class="form-control" placeholder="Add a new location">
                <br>
                <input type="submit" class="btn btn-primary" value="Add Location">
            </div>
        </form>
    </div>

    <!-- Location list of current locations -->
    <br>
    <h2 class="text-center">Locations List</h2>
    
    <div class='container text-center'>
        {% if locations|length < 1 %}
            no  location, add some!
        {% else %}
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Action</td>
                </tr>
            </thead>
            {% for location in locations %}
            <tr>
                <td>{{location.id}}</td>
                <td>{{location.name}}</td>
                <td><a href="updateData/{{0}}/update/{{location.id}}" class="btn btn-primary">Update</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %} 
         
        
    </div>
{% endblock %}
