{% extends 'layout.html' %}
{% block title %} Hello world {% endblock %}
{% block body %}
    

    <!-- Location list of current products -->
    <br>
    <h2 class="text-center">Products List</h2>
    
    <div class='container text-center'>
        {% if products|length < 1 %}
            no prod, add some!
        {% else %}
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <td>ID</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                {% for prod in products %}
                <tr>
                    <td>{{prod.id}}</td>
                    <td>{{prod.name}}</td>
                    <td><a href="updateData/{{0}}/update/{{prod.id}}" class="btn btn-primary">Update</a></td>
                </tr>
                {% endfor %}
            </table>
        {% endif %} 
    </div>

    <!-- addProducts -->
    <div class="container">
            <form method='POST'>
                <div class="container-fluid form-group">
                    <label for="prodName">New Product:</label>
                    <input type="text" name='prodName' id='prodName' class="form-control col-md-6" placeholder="Add a new product">
                    <br>
                    <input type="submit" class="btn btn-primary" value="Add Product">
                </div>
            </form>
        </div>
{% endblock %}
