{% extends 'layout.html' %}
{% block title %} Hello world {% endblock %}
{% block body %}
    <!-- addProducts -->
    <div class="container">
        <h1 class="text-center">Products page</h1>
        <form method='POST' class="text-center">
            <div class="form-group">
                <input type="text" name='prodName' class="form-control" placeholder="Add a new product">
                <br>
                <input type="submit" class="btn btn-primary" value="Add Product">
            </div>
        </form>
    </div>

    <!-- Location list of current products -->
    <br>
    <h2 class="text-center">Products List</h2>
    
    <div class='container text-center'>
        {% if products|length < 1 %}
            no prod, add some!
        {% else %}
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <td>ID</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                {% for prod in products %}
                <tr>
                    <td>{{prod.id}}</td>
                    <td>{{prod.name}}</td>
                    <td><a href="updateData/{{0}}/update/{{prod.id}}" class="btn btn-primary">Update</a></td>
                </tr>
                {% endfor %}
            </table>
        {% endif %} 
    </div>

    
{% endblock %}
